.mail-list {
  height: 100vh;
  overflow-y: scroll;
  flex: 1;
}
.mail-list::-webkit-scrollbar {
  display: none;
}

.filters {
  margin: 0 10px;
  font-weight: 500;
  padding: 0 10px;
  color: black;
}
.filters:hover {
  cursor: pointer;
}
header {
  display: flex;
  width: 450px;
  margin-left: 1em;
}
.empty-list {
  padding: 10px;
  display: flex;
}
.empty-list > p {
  color: #e54065;
  font-weight: 500;
}

.page-buttons {
  border: 1px solid #cfd2dc;
  margin: 10px;
}
