.mail-card {
  font-size: 14px;
  height: 110px;
  border-radius: 7px;
  border: 1px solid #cfd2dc;
  display: flex;
  padding: 5px;
  margin: 1em 0;
  margin-top: 0;
}
.mail-card:hover {
  cursor: pointer;
}
.mail-info {
  height: 100px;
  flex: 22;
  padding-left: 0.8em;
}
.mail-info > p {
  margin: 4px auto;
}
.mail-recieved {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.favorite {
  color: #ef4065;
  font-weight: 600;
  margin: 2px;
}
.mail-avatar {
  font-size: 25px;
  height: 100px;
  flex: 1.5;
  padding: 5px;
}
.avatar-text {
  background-color: #ef4065;
  margin: 15px auto;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-weight: 500;
  width: 60px;
  color: aliceblue;
  border-radius: 50%;
}
